body {
  font-family: sans-serif;
  line-height: 1.4;
}

h2,
h3 {
  text-transform: uppercase;
}

/* PRODUCT */
.product {
  border: 5px solid black;
}

.product-title {
  text-align: center;
  background-color: #f7f7f7;
}

/* PRODUCT INFORMATION */
.price {
  font-size: 24px;
}

.shipping {
  color: #777;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.more-info:link,
.more-info:visited {
  color: black;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

/* PRODUCT DETAILS */
.detail-title {
  font-size: 16px;
}

.detail-list {
  list-style: square;
}

/* BUTTON */
.add-cart {
  background-color: #000;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.add-cart:hover {
  color: black;
  background-color: white;
}
