* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

h2,
h3 {
  text-transform: uppercase;
}

/* PRODUCT */
.product {
  border: 5px solid black;
  width: 825px;
  margin: 50px auto;
}

.product-title {
  text-align: center;
  background-color: #f7f7f7;
  padding: 15px 0;
}

/* PRODUCT INFORMATION */
.price {
  font-size: 24px;
}

.shipping {
  color: #777;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 20px;
}

.description {
  margin-bottom: 10px;
}

.more-info:link,
.more-info:visited {
  color: black;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

/* PRODUCT DETAILS */
.detail-title {
  font-size: 16px;
  margin-top: 35px;
  margin-bottom: 15px;
}

.detail-list {
  list-style: square;
  margin-left: 20px;
}

.detail-item {
  /* padding: 5px 0; */
  margin-bottom: 10px;
}

/* BUTTON */
.add-cart {
  background-color: #000;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 20px;
}

.add-cart:hover {
  color: black;
  background-color: white;
  border-top: 5px solid black;
}
